<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="/home/remizero/Proyectos/Desarrollo/Qt/qtrcp/com/ecosoftware/resources/xsd/config.xsd">
  <app></app>
  <commands></commands>
  <logger></logger>
  <systemtrayicon></systemtrayicon>
  <splashscreen></splashscreen>
</settings>
